.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 70px;
}

.banner-container {
    background-image: url(./icon/Hero-bg.png);
    background-size: cover;

}

.banner-logo {
    color: #4E47FF;
    font-size: xx-large;
    font-weight: bold;
}

.btn-primary {
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: grey;
}

.banner-title {
    font-weight: bold;
    font-size: 60px;
    padding-bottom: 50px;

}
.banner-description {
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

/* banner section */

/* card section start card 1 */

main {
    background: linear-gradient(to bottom, white, rgb(195, 197, 196));
}
.card {
    max-width: 1140px;
    margin: 0 auto;
}
.mini-action {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.card-title h2 {
    font-weight: bold;
    font-size: 40px;
}

.card-title p {
    color: darkgray;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.mini-action img {
    border-radius: 10px;

}

/* card 1 section end */


/* user section start  */

.user-section {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #d1d0e4;
    border-radius: 10px;
    padding-top: 50px;
    
}

.user-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 240px;
    
}

.user-text {
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}

.user-active {
    text-align: center;
}

.user-active h4 {
    font-weight: bold;
    color: #4E47FF;
    font-size: 75px;
}

.user-active p {
    color: rgb(121, 118, 118);

}

#focus {
    display: flex;
    flex-direction: column;
    gap: 80px;
    
}
/* user section end */

/* bouns part start */
.template-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 60px;
}
.text-container{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    
}
.template-container{
    margin-top: 50px;
    margin-bottom: 150px;
    gap: 20px;
    display: flex;
}

.template-text h2{
    font-weight: bold;
    padding-top: 10px;
}
.template-text p{
    color: #575661;
    padding-top: 5px;
}

.template{
    padding: 20px;
    width: 330px;
    border: 1px solid rgb(236, 221, 218);
    background-color: whitesmoke;
    border-radius: 10px;
   
}
.avater{
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}
.avater-text h1{
    color: rgb(96, 94, 94);
}
.avater p{
    color: grey;
}
.avater img{
    border-radius: 100%;
}


/* bouns part end */

.studio{
    max-width: 1140px;
    margin: 0 auto;
}
.better{
    background-color:#FFFFFF;
    margin-top: 70px;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
    
}
.better h4{
    font-weight: bold;
    font-size: 50px;
}
.better p{
    color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
}
.better img{
    border-radius: 50px;
  
}
.img{
    padding-top: 30px;
    padding-bottom: 70px;
}


.input-field{
    max-width: 1140px;
    height: 530px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-text{
    font-weight: bold;
    font-size: 95px;
}

#btn{
    width: 100%;
    margin-top: 20px;
}
input{
    margin-top: 10px;
    padding: 15px 210px 15px 15px;
    border-radius: 10px;
    border: 1px solid gray;

}
.input textarea{
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
}
input:focus{
    border:none;
    outline: none;
}

.form label{
    font-size: 18px;
    font-weight: bold;
}

/* footer section start */
.footer{
    height: 300px;
    padding-top: 130px;
    
}
.footer-text{
    text-align: center;
}
.footer-text h4{
    font-weight: bold;
    color: #4E47FF;
    font-size: 100px;
}
.footer-text p{
    color: #8987A1;
    padding-top: 20px;
}
.footer-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 40px;
    
}
.footer-list li{
    list-style: none;
}
.footer-list li a{
    text-decoration: none;
    color: #8987A1;
}
/* footer section end */